:root{
    --azulito:#00bfff;
    --azul:#0000cd;
    --blanco:#ffffff;
    --texto:#000000;
}


html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*:after{
    box-sizing: inherit;
}

body{
    font-size: 16px;
    background-color: var(--texto);
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    position: relative;
    padding-bottom: 3em;
    min-height: 280vh;
}
@media(min-width:480px){
  body{
    background-color: var(--texto);
  }
}
@media(min-width:768px){
  body{
    background-color: var(--texto);
  }
}

h1{
    text-align: center;
    color: var(--blanco);
    font-size: 2.5rem;
}
hr{
  padding: 1rem;
}

.grid-section {
      padding: 40px 20px;
      text-align: center;
    }

    .grid-section h2 {
      font-size: 2rem;
      margin-bottom: 40px;
      color:var(--azulito);
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 30px;
      max-width: 1200px;
      margin: 0 auto;
    }

    .grid-item {
      background-color:var(--blanco);
      padding: 30px 20px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      transition: transform 0.3s ease;
    }

    .grid-item i {
      font-size: 2rem;
      color:var(--azul);
      margin-bottom: 15px;
    }

    .grid-item:hover {
      transform: translateY(-5px);
    }

    @media (max-width: 600px) {
      .hero h1 {
        font-size: 2rem;
      }
    }

/*barara de navegacion inicio*/
nav{
    background:var(--texto);
    height: 100px;
    width: 100%;
}
.nombre{
    position:absolute;
    padding:0 auto;
    color:var(--blanco);
    font-size: 40PX;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color:var(--blanco);
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    border: 2px solid var(--blanco);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color:var(--blanco);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/*bara de navgacion extra*/
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #dfc38a;
    }
    #check:checked ~ ul{
        left:0;
    }
}
h1.dividir{ 
    text-align: center;
}
.separador{
    display: flex;
    justify-content:center ;
}

/*fin del extra de la barra de navegacion*/

/*tarjetas inicio*/
.rejilla{
  display: grid;
  grid-template-columns: 1fr;
}
.rejilla-2{
  padding: 0 auto;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.container-card{
	width: 100%;
	display:flex;
	max-width: 1100px;
	margin: 0 auto;
  align-items: center;
}
.card{
	width: 100%;
	margin: 50px;
	border-radius: 6px;
	overflow: hidden;
	background:var(--blanco);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
  box-shadow: 0 4px 8px var(--azulito), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 100px;
}
.card .contenido-card{
	padding: 14px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 12px;
	color: var(--texto);
}
.card .contenido-card p{
	line-height: 1.8;
	color: var(--texto);
	font-size: 12px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color:var(--azulito);
	border: 1px solid var(--azulito);
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: var(--azulito);
	color: var(--blanco);
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/*fin de la barra de navegacion*/
footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	background:var(--texto);
	position: absolute;
	bottom: 0%;
	width: 100%;
  }
  .main-content{
	display: flex;
	color:var(--blanco);
  }
  .main-content .box{
	flex-basis: 50%;
	padding: 10px 20px;
  }
  .box h2{
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
  }

  .box .content{
	margin: 20px 0 0 0;
	position: relative;
  }
  .box .content:before{
	position: absolute;
	content: '';
	top: -10px;
	height: 2px;
	width: 100%;
	background: var(--blanco);
  }
  .box .content:after{
	position: absolute;
	content: '';
	height: 2px;
	width: 15%;
	background:var(--azulito);
	top: -10px;
  }
  .left .content p{
	text-align: justify;
  }
  .left .content .social{
	margin: 20px 0 0 0;
  }
  .left .content .social a{
	padding: 0 2px;
  }
  .left .content .social a svg{
	height: 50px;
	width: 50px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	transition: 0.3s;
  }
  .left .content .social a svg:hover{
	background: var(--azulito);
  }
  .center .content .fas{
	font-size: 1.5rem;
	background:var(--blanco);
	height: 45rem;
	width: 45rem;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	transition: 0.3s;
	cursor: pointer;
  }
  .center .content .fas:hover{
	background: var(--azulito);
  }
  .center .content .text{
	font-size: 1.5rem;
	font-weight: 500;
	padding-left: 10px;
  }
  .center .content .phone{
	margin: 15px 0;
  }
  .right form .text{
	font-size: 1.5rem;
	margin-bottom: 2px;
	color:var(--blanco);
  }
  .right form .msg{
	margin-top: 10px;
  }
  .right form input, .right form textarea{
	width: 100%;
	font-size: 1.5rem;
	background:var(--blanco);
	padding-left: 10px;
	border: 1px solid var(--azulito);
  }
  .right form input:focus,
  .right form textarea:focus{
	outline-color: var(--azulito);
  }
  .right form input{
	height: 35px;
  }
  .right form .btn{
	margin-top: 10px;
  }
  .right form .btn button{
	height: 20px;
	width: 100%;
	border: none;
	outline: none;
	background: var(--azulito);
	font-size: 1.5rem;
	font-weight: 500;
	cursor: pointer;
	transition: .3s;
  }
  .right form .btn button:hover{
	background:var(--texto);
  }
  .bottom center{
	padding: 5px;
	font-size: 1rem;
	background:var(--texto);
  }
  .bottom center span{
	color:var(--blanco);
  }
  .bottom center a{
	color: var(--azulito);
	text-decoration: none;
  }
  .bottom center a:hover{
	text-decoration: underline;
  }
  @media screen and (max-width: 900px) {
	footer{
	  position: relative;
	  bottom: 0px;
	}
	.main-content{
	  flex-wrap: wrap;
	  flex-direction: column;
	}
	.main-content .box{
	  margin: 5px 0;
	}
  }
